/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #CABAC8; /* lavender*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #E89005;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

img{
  height: 2000px;
}

.backgroundwest{
  background-image: url(blackwestern.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.backgroundme{
  background-image: url(me.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} 
.backgroundorange{
  background-color: #FB5012;
}

.backgroundbrown{
  background-color: brown;
}

.background-lavender{
  background-color: #CABAC8
}

.small{
  font-size: 10pt;
  color: black;
}

.medium{
  font-size: 25pt;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom{
  text-align: bottom;
}
.font-rock-salt{
  font-family: 'Rock Salt', cursive;
}

.font-berkshire-swash{
  font-family: 'Berkshire Swash', cursive;
}

.font-sigmar-one{
  font-family: 'Sigmar One', cursive;
}

.font-sketchy{
  font-family: 'Love Ya Like A Sister', cursive;
}

#chrystalheading{
  font-size: 200pt;
  text-align: center;
}

.center{
  text-align: center;
}

#menusize{
  font-size: 50pt
}

.shadow{
  text-shadow: 6px 5px #00A6A6;
}

.brown-shadow{
  text-shadow: 6px 5px brown;
}

 * {
   margin: 0;
   padding: 0;
  }
.imgbox {
   display: grid;
    height: 100%;
   }
 .center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
        }

#grad1 {
  height: 1000px;
  background-color: #cccccc;
  background-image: linear-gradient(#E70E02, #E89005);
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}